spyder==4.2.1
notebook==6.1.4
dash==1.19.0
dash-bootstrap-components==0.7.2
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dash-daq==0.5.0
dash-auth==1.4.1
plotly==4.3.0
pandas==1.2.2
numpy==1.19.2
Django==2.2.7
django-plotly-dash==1.0.2
Flask==1.1.2
shap==0.38.1
scipy==1.2.0
seaborn==0.9.0
scikit-learn==0.24.1
tweepy==3.8.0
xgboost==0.82
dash-bootstrap-components==0.7.2
wordcloud==1.6.0
nltk==3.4.5
stop-words==2018.7.23
Flask-Caching==1.8.0
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
scikit-plot==0.3.7
lightgbm==2.2.3
imbalanced-learn==0.8.0
simpledbf==0.2.6
Boruta==0.3
pyodbc==4.0.30
xlrd==2.0.1
openpyxl==3.0.6
feather-format==0.4.0
pyarrow==0.16.0
eli5==0.10.1
missingno==0.4.2
pypi==2.1
twine==3.3.0
prj-core==0.0.47
dbfread==2.0.7
plotnine==0.7.1
tensorflow==2.4.1
gower
scikit-learn-extra
skrebate
ReliefF==0.1.2
sklearn-relief==1.0.0b2
ipynb==0.5.1
tables==3.6.1
optuna==2.10.0
pyxlsb==1.0.9